include ../filter/filter

mixin questions()
	//- variables
	- var filters = ["Актуальные", "Новые", "Обсуждаемые"];

	+b.questions&attributes(attributes)
		+filter(filters)(class='--questions')
		+e('div').container
			block
