.filter {
	$rootParent: &;
	display: flex;
	justify-content: center;

	&__list {
		display: flex;
		justify-content: center;

		@include list-clear();
	}

	&__link {
		position: relative;

		display: flex;
		flex-grow: 1;
		justify-content: center;
		align-items: center;
		min-height: 100%;

		font-family: $font-family--sans-serif;

		background-color: transparent;

		&:link,
		&:visited {
			color: $color-tertiary;
			text-decoration: none;
		}

		&::after {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;

			display: block;
			width: 100%;

			background-color: $color-secondary;
			opacity: 0;

			transition-duration: 0.3s;
		}
	}

	&__item {
		flex-grow: 1;

		&:hover,
		&:active {
			.filter__link::after {
				opacity: 1;
			}
		}
	}

	&--questions {
		min-height: 100px;

		#{$rootParent}__list {
			flex-basis: 485px;
		}

		#{$rootParent}__link {
			min-width: 145px;
			@include padding-x(2rem);

			font-size: 1.9rem;
			line-height: 2.8rem;

			&::after {
				height: 4px;
			}
		}
	}

}
