// Fonts

@font-face {
	font-family: 'MuseoSansCyr';
	src: url('../fonts/MuseoSansCyr/MuseoSansCyrRegular.woff') format('woff'),
	url('../fonts/MuseoSansCyr/MuseoSansCyrRegular.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gregor';
	src: url('../fonts/Gregor/GregorRegular.woff') format('woff'),
	url('../fonts/Gregor/GregorRegular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
