// Set element size
@mixin size($width, $height: $width) {
	width: $width;
	height: $height;
}

// Set margin on left & right
@mixin margin-x($margin) {
	margin-right: $margin;
	margin-left: $margin;
}

// Set margin on top & bottom
@mixin margin-y($margin) {
	margin-top: $margin;
	margin-bottom: $margin;
}

// Set pading on left & right
@mixin padding-x($padding) {
	padding-right: $padding;
	padding-left: $padding;
}

// Set padding on top & bottom
@mixin padding-y($padding) {
	padding-top: $padding;
	padding-bottom: $padding;
}

// Set fixed ontainer
@mixin container() {
	margin: 0 auto;
	@include padding-x($offset);
	width: $container;
}

// Set fluid container
@mixin container-fluid() {
	margin: 0 auto;
	width: 100%;
}

// Clear default list styles
@mixin list-clear() {
	margin: 0;
	padding: 0;
	list-style: none;
}

// Set one static retina image
@mixin retinaBackground($image, $ext: 'png') {
	background-image: url('../images/' + $image + '.' + $ext);

	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
		background-image: url('../images/' + $image + '@2x.' + $ext);
	}
}

// Set button properties
@mixin btn($padding-x: 4.5rem, $padding-y: 1.5rem) {
	display: flex;
	justify-content: center;
	@include padding-x($padding-x);
	@include padding-y($padding-y);
	vertical-align: middle;

	font-size: $font-size / 0.875;
	line-height: $leading / 1.875;
	font-family: $font-family--sans-serif;
	color: $text-color;
	font-weight: 700;
	text-decoration: none;
	white-space: nowrap;

	background-color: transparent;
	border: 2px solid $color-primary;

	cursor: pointer;
	user-select: none;

	&:hover,
	&--hover {
		color: #ffffff;
		text-decoration: none;

		background-color: $color-secondary;
		outline: 0;
		box-shadow: none;

		transition-duration: 0.3s;
	}

	&:active,
	&--active {
		background-color: $color-primary;
		border: 2px solid $color-primary;

		transition-duration: 0.3s;
	}

	&:disabled,
	&--disabled {
		cursor: not-allowed;
		pointer-events: none;
	}

}
