extends ../blocks/layout-default/layout-default

include ../blocks/index/index
include ../blocks/page-header/page-header

include ../blocks/main-content/main-content

block head
	- var pageTitle = 'rquora';
block content
	+index
		+page-header
		+main-content

