.text-content {
	$rootParent: &;

	&__lead {
		display: none;
	}

	&__secondary-content {
		display: flex;
		align-items: baseline;

		margin-bottom: 3rem;

		.question-card__answer & {
			display: none;
		}
	}

	&__subscribers-counter {
		@include btn(1rem, 0.2rem);
		align-self: baseline;
		margin-right: auto;

		font-size: 1.6rem;
		line-height: 2.2rem;
		color: $color-secondary;

		border: 2px solid $color-secondary;
		border-radius: 25px;
	}

	&__pub-date {
		font-size: 1.2rem;
		line-height: 1.4rem;
		font-family: $font-family--sans-serif;
		color: $color-tertiary;

		padding-right: 1.5rem;
	}

	&__rubric {
		font-size: 1.2rem;
		line-height: 2.2rem;
		font-family: $font-family--sans-serif;
		color: $color-secondary;
		text-transform: uppercase;
		letter-spacing: 0.3px;
	}

	&__main-content {
		margin-bottom: 0.5rem;
	}

	&__question-header {
		margin-bottom: 1rem;
	}

	&__question-heading {
		margin: 0;
		padding: 0;

		font-size: 2.8rem;
		line-height: 3rem;
	}

	&__answers-info {
		font-size: 1.3rem;
		line-height: 1.5rem;
		font-family: $font-family--sans-serif;
		color: $color-tertiary;

		margin-bottom: 4rem;
	}

	&__answers-counter {
		&::after {
			content: " • ";
			color: lighten($color-tertiary, 25%);
		}
	}

	&__respondents-list {
		color: lighten($color-tertiary, 25%);
	}

	&__answer p {
		position: relative;

		margin: 0;
		padding: 0;
		padding-left: 4rem;

		font-size: 1.7rem;
		line-height: 2.4rem;
		color: $color-tertiary;

		&::before {
			content: "—";

			position: absolute;
			left: 20px;
		}
	}

	&__answers-info {
		margin-bottom: 0;
	}

	a#{$rootParent}__reply {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100px;

		font-size: 1.2rem;
		line-height: 14rem;
		font-family: $font-family--sans-serif;
		text-align: center;
	}

	&--detailed-view {
		display: flex;
		flex-direction: column;
		padding-top: 4rem;

		#{$rootParent}__main-content {
			margin-bottom: 0;
		}

		#{$rootParent}__secondary-content {
			display: flex;
			margin-bottom: 2rem;
		}

		a#{$rootParent}__subscribe {
			@include btn(1.2rem, 0.7rem);
			align-self: baseline;
			margin-right: auto;

			font-size: 1.2rem;
			line-height: 1.4rem;
			color: #ffffff;
			text-decoration: none;

			background-color: $color-secondary;
			border: 2px solid $color-secondary;
			border-radius: 5rem;

			&:hover,
			&--hover,
			&:active,
			&--active {
				color: $color-secondary;
				text-decoration: none;

				background-color: #ffffff;
				border: 2px solid $color-secondary;

				transition-duration: 0.3s;
			}
		}

		#{$rootParent}__subscribers-counter {
			font-size: 1.6rem;
			line-height: 2.2rem;
			font-family: $font-family--sans-serif;
			text-transform: uppercase;

		}

		#{$rootParent}__question-header {
			margin-bottom: 2.5rem;
		}

		#{$rootParent}__question-heading {
			font-size: 4.2rem;
			line-height: 5rem;
		}

		#{$rootParent}__answers-info {
			margin-bottom: 8rem;
			padding-right: 10%;

			&--empty {
				margin-bottom: 0.5rem;
				color: lighten($color-tertiary, 25%);
			}
		}

		#{$rootParent}__respondents-list {
			color: lighten($color-tertiary, 25%);
		}

		#{$rootParent}__answer {
			p {
				font-size: 2.3rem;
				line-height: 3.5rem;
			}
		}

		#{$rootParent}__reply {
			font-size: 1.3rem;
			line-height: 2rem;
		}

		#{$rootParent}__lead {
			display: block;

			font-size: 2.3rem;
			line-height: 3.5rem;

			& p {
				margin: 0;
				margin-bottom: 3.3rem;
				padding: 0;
			}
		}

		#{$rootParent}__answer {
			margin-bottom: 7rem;

			& p {
				padding-left: 0;
				color: $color-primary;

				&::before {
					content: "";
				}
			}
		}
	}
}
