.page-header {
	display: flex;
	align-items: center;
	height: 100px;
	@include margin-x(-100px);
	margin-bottom: span(1);

	background-color: #ffffff;
	border-bottom: 1px solid lighten($color-tertiary, 25%);

	&__toggle {
		display: flex;
		flex-basis: 100px;
	}

	&__logo {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-basis: 249px;
		min-height: 100%;
		margin-right: 3.5rem;

		background-color: $color-primary;

		&:hover {
			background-color: $color-secondary;
			transition-duration: 0.3s;
		}
	}

	&__link {
		padding-top: 2.2rem
	}

	&__search {
		display: flex;
		flex-basis: 665px;
	}

	&__ask {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-basis: 100px;
		min-height: 100%;

		background-color: $color-primary;
	}

	&__user-profile {
		display: flex;
		@include margin-x(auto);
	}
}
