include ../toggle/toggle
include ../text-field/text-field
include ../question/question
include ../user-profile/user-profile

mixin page-header()
	+b('header').page-header&attributes(attributes)
		+toggle(class='page-header__toggle', href='javascript:void(0)',
		onclick='return false')
		+e.logo
			+e.link(href='index.html')
				+e('img').image(src='assets/images/logo.png', alt='rquora ' +
				'logo', width='167', height='52')
		+text-field(class='page-header__search')
		+question(class='page-header__question')
		+user-profile(class='page-header__user-profile')


