.user-profile {
	cursor: pointer;

	&__avatar {
		width: 82px;
		height: 82px;
		margin-right: 1.5rem;

		border-radius: 50%;
	}

	&__rating {
		display: flex;
		flex-direction: column;

		margin: auto;

		font-family: $font-family--sans-serif;
		text-align: center;

		& span:first-child {
			font-size: 1.2rem;
			line-height: 1.4rem;

			margin-bottom: 1rem;
		}

		& span:last-child {
			font-size: 3.4rem;
			line-height: 2.8rem;
			color: $color-secondary;
		}
	}
}
