.user-info {
	$rootParent: &;
	padding-left: 4rem;

	&__avatar {
		display: flex;
		justify-content: center;
		align-items: center;
		padding-right: 1rem;

		& img {
			border-radius: 50%;
		}
	}

	&__container {
		display: flex;
		flex-wrap: wrap;
	}

	&__name,
	&__activity,
	&__rating {
		font-family: $font-family--sans-serif;
	}

	&__name,
	&__rating {
		order: -5;
	}

	&__name {
		padding-right: 1rem;

		font-size: 1.4rem;
		line-height: 2.2rem;
		color: $color-tertiary;
	}

	&__activity {
		flex-basis: 100%;

		font-size: 1.2rem;
		line-height: 1.4rem;
		color: lighten($color-tertiary, 25%);
	}

	&__rating {
		font-size: 1.6rem;
		line-height: 2.2rem;
		color: $color-secondary;
	}

	a#{$rootParent}__subscribe {
		@include btn(1.2rem, 0.7rem);
		display: none;

		font-size: 1.2rem;
		line-height: 1.4rem;
		color: #ffffff;
		text-decoration: none;

		background-color: $color-secondary;
		border: 2px solid $color-secondary;
		border-radius: 5rem;
	}

	&--detailed-view {
		display: flex;
		padding-top: 10rem;
		padding-left: 0;

		#{$rootParent}__avatar {
			margin-right: auto;
			margin-bottom: 1rem;
		}

		#{$rootParent}__name,
		#{$rootParent}__activity {
			margin-bottom: 1.5rem;

			font-family: $font-family--sans-serif;
			color: $color-tertiary;
		}

		#{$rootParent}__name {
			font-size: 1.6rem;
			line-height: 2.2rem;
		}

		#{$rootParent}__activity {
			font-size: 1.2rem;
			line-height: 1.4rem;
		}

		#{$rootParent}__rating {
			order: 0;
			margin-bottom: 2rem;

			font-size: 2.1rem;
			line-height: 2.1rem;
			color: $color-secondary;
		}

		a#{$rootParent}__subscribe {
			align-self: flex-start;
		}

		&:hover {
			cursor: pointer;

			a#{$rootParent}__subscribe {
				display: flex;
			}
		}
	}
}
