mixin text-field()
	+b('label').text-field&attributes(attributes)
		+e('div').container
			+e('img').icon--search(src='assets/images/icon__search.png',
			alt='search icon', width='32', height='32')
			+e('input').input(type='search', placeholder='Найти ответ...')
